html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* body {
    display: block;
    min-height: 40rem;
    font: 14px/1.3 verdana, arial, helvetica, sans-serif;
    background-color: rgb(155, 199, 113); */
    /*background-color: rgb(184, 85, 55);
      /*   position: relative;
        min-width: 1450px;
        min-height: 1450px;
        height: 100%; 
} */

/* body, h1, h2, h3, p, ul, li, {
    border:0;
    margin:0;
    padding:0; 
    
    } */

body {
    width: 100%;
    height: 100%;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    background-color: rgb(211, 209, 204);
    }

/*     html,
    body {
      width: 100%;
      height: 100%;
      /* padding-left: 60px;
      padding-right: 60px; */

      /* background-color: #fff; 
    }  */

h1, h2{
    color: #004466;
}
h1 {
    font-size: 4em;
    letter-spacing: 0.3em;
}
h2 {
    font-size:2em;
}



#navbar {
    border-bottom: 1px solid #99cccc;
    text-align: right;
    height: 70px;
    line-height: 70px;
  }

 /*  .menu {
    margin: 0 30px 0 0;
  } */
  .menu a {
    clear: right;
    text-decoration: none;
    color: #004466;
    margin: 0 20px;
    line-height: 70px;
    
    font-size: 1.5em;
}

/* #toggle {
    display: none;
  } */

#container{
    position: relative;
    text-align: center;
}

/* .vertical-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    background-color:red;
    float: left;
    position: fixed;
} */

.workouttext{
    font-size: 2em;
    color: #023a57;
}

#gifstyle{
    /* box-shadow: 25px 25px 50px 0 rgb(252, 143, 71), -25px -25px 50px 0 rgb(252, 143, 71); */
    height: 300px;
    box-shadow: 2px 3px 2px 2px rgba(116, 122, 119, 0.699);
    border-radius: 2px;
}

.nextbtn{
    display: inline-block;
    padding:0.3em 1.2em;
    margin:1em 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-size: 1.5em;
    font-weight:300;
    color:#f5f5f5;
    background-color:#004466d5;
    text-align:center;
    letter-spacing: 0.5em;
    transition: all 0.2s;
    }

    .nextbtn:hover{
        color:#f5f5f5;
        background-color:#004466; 
        
      /*   border: none;
        outline: none;  */      
    }

  .nextbtn:active, .nextbtn:focus { 
    outline: none;
}

.createworkout{
    margin-top: 4em;
    list-style-type: disc;
    list-style-position: inside;
    letter-spacing: 0.3em;
    text-align: center;
}

ul {
    margin: 2em 0em 10em 0em;
    padding: 1em;
    letter-spacing: 0;
    word-spacing: 0.5em;
    border-spacing: 3em;
    /* line-height: 1.5em; */
    font-size: 1.2em;
    color: #023a57;
    font-weight: 500;
    text-transform: uppercase;                
}

li{
    line-height: 3em;
}


/* #nextbtn{
    /* padding: 2% 2%;
	border: 3px solid;
	letter-spacing: 0.2em;
	text-decoration: none;
	/* color: #e0ccc8; */
/* 	font-weight: 600;
	text-transform: uppercase;
	border-radius: 20%;
	 
} */

/* .gifsize{
    position: relative;
    background-color: white;
    align-items: center;
    margin-bottom: 5vw;
    box-shadow: 2px 3px 2px 2px #4A6255;
    width: 50%;
    height: auto;
} */

/* .img{
        /* display: block;
        max-width: 100%;
        height: auto; 
        position: relative;
    background-color: white;
    text-align: center;
    margin-bottom: 5vw;
    box-shadow: 2px 3px 2px 2px #4A6255;
    width: 10%;
    height: auto;
} */


/* p {
    max-width: 60em;
} */

/* no border if linked image */
/* a img {
    border:none;
} */